*{
    margin: 0;
    padding: 0;
}
.header-main{
    width: 100%;
    background-color: coral;
    height: 200px;
}
.footer-main{
    width: 100%;
    background-color: coral;
    height: 200px;
}
.container{
    width: 1140px;
    margin: 0 auto;
    min-height: 400px;
}
